exportClasses(GenomicAnnotations, GenomicAnnotationsForPREDA,
StatisticsForPREDA, DataForPREDA, PREDAResults,
PREDADataAndResults, GenomicRegions)

exportMethods(GenomicAnnotations2dataframe,
GenomicAnnotationsSortAndCleanNA,
GenomicAnnotations2reference_positions,
GenomicAnnotationsFilter_neg,
GenomicAnnotationsFilter_pos,
GenomicAnnotationsExtract,
GenomicAnnotations2GenomicAnnotationsForPREDA,
GenomicAnnotationsForPREDA2GenomicAnnotations,
GenomicAnnotationsForPREDA2dataframe,
GenomicAnnotationsForPREDA2PREDAResults,
StatisticsForPREDA2dataframe,
StatisticsForPREDAFilterColumns_neg,
StatisticsForPREDAFilterColumns_pos,
analysesNames,
getStatisticByName,
DataForPREDA2dataframe,
DataForPREDA2GenomicAnnotationsForPREDA,
DataForPREDA2StatisticsForPREDA,
PREDAResults2dataframe,
PREDAResults2PREDADataAndResults,
PREDAResults2GenomicRegionsSingle,
PREDAResults2GenomicRegions,
PREDAResultsGetObservedFlags,
PREDADataAndResults2dataframe,
GenomicRegionsChrNumber,
GenomicRegionsNumber,
GenomicRegionsSpan,
GenomicRegionsTotalSpan,
GenomicRegionsCreateRegionsIds,
GenomicRegionsComparison,
GenomicRegionsAnnotate,
GenomicRegionsFilter_neg,
GenomicRegionsFilter_pos,
eset2GenomicAnnotations,
statisticsForPREDAfromEset,
genomePlot,
computeDatasetSignature,
SODEGIR_GEstatistics
)


export(GenomicAnnotationsFromLibrary,
MergeStatisticAnnotations2DataForPREDA,
PREDA_main,
preprocessingGE,
SODEGIRpreprocessingGE,
GenomicAnnotationsFromfile,
GenomicAnnotationsFromdataframe,
GenomicAnnotationsForPREDAFromfile,
DataForPREDAMedianCenter,
StatisticsForPREDAFromfile,
StatisticsForPREDAFromdataframe,
GenomicRegionsFindOverlap,
GenomicRegions2dataframe,
GenomicRegionsFromfile,
GenomicRegionsFromdataframe
)


